/* General Table Styles */
.tableContainer {
  margin: 25px 0;
  border-radius: 5px;
  background-color: var(--bg1);
  padding: 2px;
  height: 400px;
  overflow-y: auto;
}

.table {
  width: 100%;
  border-collapse: collapse;
  font-size: 14px;
}

.table th,
.table td {
  border: 1px solid #ccc;
  padding: 2px 8px;
  text-align: center;
  vertical-align: middle;
}

.table th {
  background-color: #f7f7f7;
  cursor: pointer;
  height: 32px;
}

.table td {
  background-color: #fff;
  height: 28px;
  max-height: 28px;
}

.icon {
  margin-left: 5px;
}

.tableHeader th {
  padding: 3px 8px;
  text-align: left;
}

.tableRow:nth-child(even) {
  background-color: #f9f9f9;
}

.tableRow:hover {
  background-color: #f1f1f1;
}

.selected {
  background-color: #c8e6c9;
}

/* Styles for Checkbox */
.checkbox {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.checkboxHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* Make the checkbox a bit smaller */
.checkbox :global(.MuiCheckbox-root) {
  padding: 2px;
}

.checkboxHeader :global(.MuiCheckbox-root) {
  padding: 2px;
}

/* Pagination Styles */
.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 0;
}

/* New styles for disk separation */
.newDiskRow {
  border-top: 2px solid var(--bg1);
  background-color: var(--alma-light-blue);
}

.newDiskRow td {
  border-top: 2px solid var(--bg1);
}

/* Make button smaller */
.imageButton {
  font-size: 0.75rem !important;
  padding: 2px 8px !important;
  min-width: 45px !important;
  min-height: 24px !important;
  margin-left: 4px !important;
}

@media (max-width: 768px) {
  .imageButton {
    display: none;
  }
}