/* General Table Styles */
.tableContainer {
  margin: 25px 0;
  border-radius: 5px;
  background-color: var(--bg1);
  padding: 2px;
  height: 400px;
  overflow-y: auto;
}

.table {
  width: 100%;
  border-collapse: collapse;
}

.table th,
.table td {
  border: 1px solid #ccc;
  padding: 8px;
  text-align: center;
}

.table th {
  background-color: #f7f7f7;
  cursor: pointer;
}

.table td {
  background-color: #fff;
}

.icon {
  margin-left: 5px;
}

.tableHeader th {
  padding: 10px;
  text-align: left;
}

.tableRow:nth-child(even) {
  background-color: #f9f9f9;
}

.tableRow:hover {
  background-color: #f1f1f1;
}

.selected {
  background-color: #c8e6c9;
}

/* Styles for Checkbox */
.checkbox {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.checkboxHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* Pagination Styles */
.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 0;
}

/* New styles for disk separation */
.newDiskRow {
  border-top: 2px solid var(--bg1);
  background-color: var(--alma-light-blue);
}

.newDiskRow td {
  border-top: 2px solid var(--bg1);
}

@media (max-width: 768px) {
  .imageButton {
    display: none;
  }
}