.container{
    padding: 50px;
    line-height: 20px;
    margin: 50px;
    margin-top: 20px;
}

.header{
    margin-bottom: 30px;
}

.paragraph{
    margin-top: 10px;
    margin-bottom: 10px;
}

.datalist{
    font-size: 15px;
    margin-left: 20px;
    list-style-type: disc;
    display: list-item;
}

.regionSelectorColumn {
    margin: 1px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.TableAndImage{
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

.regionBlocks {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  .regionBlock {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
  }

.regionSelectorColumnLeft {
    margin: 1px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
}

.dataSelectorRow {
    margin: 10px;
    display: flex;
    align-items: center;
    flex-direction: row;
    flex-wrap: nowrap;
}