.container {
    padding: 50px;
    line-height: 20px;
    margin: 50px;
    margin-top: 20px;
}

.header {
    margin-bottom: 30px;
}

.paragraph {
    margin-top: 10px;
    margin-bottom: 10px;
}

.dataSearcher{
    width: 100%;
}

.datalist {
    font-size: 15px;
    margin-left: 20px;
    list-style-type: disc;
    display: list-item;
}

.regionSelectorColumn {
    margin: 1px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.TableAndImage {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: row; /* Default to row */
}

.regionBlocks {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
}
  
.regionBlock {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
}

.regionSelectorColumnLeft {
    margin: 1px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
}

.dataSelectorRow {
    margin: 10px;
    display: flex;
    align-items: center;
    flex-direction: row;
    flex-wrap: nowrap;
}

.RightImage {
    display: flex;
    width: 90%;
    justify-content: center;
    padding: 10px;
    margin-top: 20px; /* Add some margin to separate from the table */
}

.RightImage img {
    width: 300px;
    height: auto;
}


@media (max-width: 1400px) {
    .regionBlock {
        flex-direction: column; /* Change to column for smaller screens */
        width: 100%;
    }

    .DFContainer {
        width: 100%;
    }

    .regionSelectorColumnLeft {
        width: 100%;
    }

    .RightImage {
        width: 100%;
    }
}

@media (max-width: 768px) {
    .TableAndImage {
        flex-direction: column; /* Change to column for smaller screens */
    }

    .RightImage img {
        width: 80%;
        height: auto;
    }
}

@media (max-width: 480px) {
    .container {
        padding: 20px;
        margin: 20px;
    }

    .paragraph {
        font-size: 14px;
    }

    .datalist {
        font-size: 12px;
    }

    .header {
        font-size: 18px;
        margin-bottom: 20px;
    }

    .TableAndImage {
        flex-direction: column; /* Ensure column direction on very small screens */
    }

    .regionSelectorColumn {
        padding: 10px;
    }

    .RightImage {
        margin-top: 10px;
    }

    .RightImage img {
        width: 100%;
        max-width: 300px;
        height: auto;
    }

    .MultiSelect{
        width: 100%;
    }

    .DFContainer {
        width: 100%;
        height: auto;
    }

    .dataSelectorRow {
        flex-direction: column;
        height: auto;
    }
}