.container {
    width: 100%;
    margin: auto;
    min-height: 100vh;
    display: flex;
}

.sidebar {
    width: 20%;
    flex: 1;
    background-color: var(--bgSoft);
    color: var(--textSoft);
    padding: 20px;
}

.navbar {
    width: 100%;
    background-color: var(--bg1);
    color: var(--textSoft);
    padding: 20px;
}

.main {
    width: 80%;
    flex: 4;
    background-color: var(--bg1);
    color: var(--textSoft);
    padding: 20px;
}
