.container {
    padding: 20px;
    display: flex;
    align-items: center;
    gap: 10px;  
    margin: 10px;
    border-radius: 5px;
}

.container:hover, .active {
    background-color: var(--bgSoft);
    box-shadow: 0 0 10px var(--bgSoft);
}
