.container{
    display: block;
}

.textContainer{
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 50px;

}

.title{
    font-size: 96px;
}

.description{
    font-size: 20px;
}

.buttons{
    display: flex;
    gap: 20px;
}

.button{
    padding: 20px;
    min-width: 120px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
}

.button:first-child{
    background-color: var(--btn);
    color: var(--text);
}

.brands{
    width: 400px;
    height: 50px;
    position: relative;
}

.carrusellContainer {
    display: flex;
    align-items: center; /* Centra verticalmente los elementos del carrusel */
    justify-content: center; /* Centra horizontalmente el carrusel */
    gap: 10px; /* Añade espacio entre los botones y el carrusel si es necesario */
    background-color: black;
}

.carrusell {
    flex: 0 0 auto; /* No permitir que el carrusel crezca o se encoja */
    position: relative;
    width: 500px; /* Ajusta a tu valor deseado */
    height: 400px;
    background-color: black;
}

.planetDisk{
    object-fit: contain;
    z-index: 2;
}