.container{
    padding: 50px;
    line-height: 20px;
    margin: 50px;
    margin-top: 20px;
}

.header{
    margin-bottom: 30px;
}

.paragraph{
    margin-top: 10px;
    margin-bottom: 10px;
}

.datalist{
    font-size: 15px;
    margin-left: 20px;
    list-style-type: disc;
    display: list-item;
}

.dataSearcher{
    display: flex;
    flex-direction: column;
    gap: 20px;
    background-color: aquamarine;
    margin: 20px;
}

.dataSearcher h4 {
    text-align: center;
}

.dataSearcherRadio{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.dataSearcherRadio li span {
    display: inline-block;
    width: 6em;
}