.container{
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 50px;
    padding-right: 50px;
    color: var(--textSoft);
    background-color: var(--bg1);
    position: fixed;
    bottom: 0;
    width: 100%;
}

.logo{
    font-weight: bold;
}

.text{
    font-size: 12px;
}